.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #ebebeb;
  height: 120px;
  padding: 20px;
  color: #222;
}

.App-header h1 {
  margin-top: 30px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.jobs {
  width: 100%;
}

.jobs, .jobs th, .jobs td {
  border: 1px solid #222;
}

.jobs th {
  text-align: center;
}

.jobs td {
  text-align: left;
}

.progress {
  position: relative;
}

.task-progress {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
